<h1 class="mt-2">Valider votre inscription</h1>

<div class='row d-block'>
  <div class='col-12 col-md-8 float-left text-justify my-2'>
    
    <%= simple_form_for @booking do |f|%>
    <%= f.input :workshop_id, :as => :hidden, :input_html => { :value => @workshop_id }%>

       <div class="input-group flex-nowrap pb-2">
        <div class="input-group-prepend">
           <span class="input-group-text" id="addon-wrapping">Places</span>
        </div>
    <%= f.input :seat, wrapper_html:  { class: 'input-group-text  p-0 w-100' }, input_html: { min: '1', step: 'any'} , label: false, placeholder: 'Place'%>
    </div>
  
    <div class="input-group flex-nowrap py-2">
      <div class="input-group-prepend">
        <span class="input-group-text" id="addon-wrapping">Prénom</span>
      </div>
    <%= text_field_tag "trainee[surname]", "", class:'input-group-text', placeholder: 'tapez ici', required: true%>
    </div>

    <div class="input-group flex-nowrap py-2">
      <div class="input-group-prepend">
        <span class="input-group-text" id="addon-wrapping">Nom</span>
      </div>
    <%= text_field_tag "trainee[name]", "", class:'input-group-text', placeholder: 'tapez ici', required: true%>
    </div>

    <div class="input-group flex-nowrap py-2">
      <div class="input-group-prepend">
        <span class="input-group-text" id="addon-wrapping">E-mail</span>
      </div>
    <%= text_field_tag "trainee[email]", "", class:'input-group-text', placeholder: 'mon.email@email.com', required: true%>
    </div>

    <div class="input-group flex-nowrap py-2">
      <div class="input-group-prepend">
        <span class="input-group-text" id="addon-wrapping">Mobile</span>
      </div>
    <%= text_field_tag "trainee[phonenumber]", "", class:'input-group-text', placeholder: '06 ** ** ** **', required: true%>
    </div>


    <%= f.submit :"Participer", class: 'btn btn-success float-right my-3'%>   
  </div>
 
  <div class='col-12 col-md-4 h-100 d-flex justify-content-between flex-column'> 
    <div class="d-flex align-content-between flex-column">
      <div class='d-none hide4'>
        <div class='cart border d-block mt-4'>
          <h4 class="text-center my-3">Mon Workshop</h4>
          
          <div class='d-flex justify-content-between mx-3'>
            <span class='p-2'>Workshop</span>         
            <div class="p-2"><%= @booking.workshop%></div>
          </div>
              <div class='d-flex justify-content-between mx-3'>
            <span class='p-2'>Prix</span>
            <div class="d-flex p-2">
              <div class="workshopprice"><%= @booking.price %></div>
                <div>€</div>
              </div>       
            </div>
            <div class='d-flex justify-content-between mx-3'>
              <span  class='p-2'>Mes places</span>
              <div class="seat p-2"></div>
            </div>
                     
          <hr>
          <div class=' d-flex justify-content-between mx-3 my-3'>
            <div class='p-2'><strong>Prix TTC</strong>
            </div>    
           
            <div class="d-flex py-2">
              <div class="price"></div>
                <div>€</div>
              </div>     
            </div>
          </div>
        </div>
      </div>
      <div class="figure py-2 responsive">
        <%= image_tag "test_webnew.png",class:"d-bloc w-100"%> 
        <figcaption class="figure-caption text-right">Bento Love Origin Kitchen</figcaption>
      </div>
    </div> 
  </div>
  <% end %>