
<div class='row align-items-center'>
  <div class='col-12 col-md-8 pr-30'>
    <h1 class="mt-4" id="salope">Passer votre commande</h1>
      <%= simple_form_for @order do |f|%>
      <%= f.input :quantities, input_html: { min: '1', step: 'any'} , placeholder: 'quantité', required: true%>
      <%= f.input :delivery, :as => :select, collection: [['0', 'Oui'], ['1', 'Non']], class:'order_delivery', label_method: :second, value_method: :first%>
      <%= f.input :day,  as: :select, collection: [['0','Mercredi'], ['1', 'Jeudi'], ['2', 'Vendredi']], label_method: :second, value_method: :second %>
      <div class="input-group flex-nowrap py-2">
          <div class="input-group-prepend">
        <span class="input-group-text" id="addon-wrapping">Prénom</span>
      </div>
      <%= text_field_tag "customer[surname]","", class:'form-control', placeholder: 'tapez ici', required: true%>
      </div>

      <div class="input-group flex-nowrap py-2">
        <div class="input-group-prepend">
          <span class="input-group-text" id="addon-wrapping">Nom</span>
        </div>
      <%= text_field_tag "customer[name]", "", class:'form-control', placeholder: 'tapez ici', required: true%>
      </div>

      <div class="input-group flex-nowrap py-2">
        <div class="input-group-prepend">
          <span class="input-group-text" id="addon-wrapping">E-mail</span>
        </div>
      <%= text_field_tag "customer[email]", "", class:'form-control', placeholder: 'mon.email@email.com', required: true%>
      </div>

      <div class="input-group flex-nowrap py-2">
        <div class="input-group-prepend">
          <span class="input-group-text" id="addon-wrapping">Mobile</span>
        </div>
      <%= text_field_tag "customer[phonenumber]", "", class:'form-control', placeholder: '06 ** ** ** **', required: true%>
      </div>

   
            <div class="input-group flex-nowrap py-2 hide d-none">
          <div class="input-group-prepend">
            <span class="input-group-text" id="addon-wrapping" >Adresse</span>
          </div>
        <%= text_field_tag "customer[adress]", "", class:'form-control require-activation', placeholder: 'adresse', required: true%>
        </div>

            <div class="input-group flex-nowrap py-2 hide d-none">
          <div class="input-group-prepend">
            <span class="input-group-text" id="addon-wrapping" >Code Postal</span>
          </div>
        <%= text_field_tag "customer[postalcode]", "", class:'form-control require-activation', placeholder: 'code postal', required: true%>
        </div>

            <div class="input-group flex-nowrap py-2 hide d-none">
          <div class="input-group-prepend">
            <span class="input-group-text" id="addon-wrapping" >Ville</span>
          </div>
        <%= text_field_tag "customer[city]", "", class:'form-control require-activation', placeholder: 'ville', required: true%>
      </div>
    
        <%= f.input :delivery_place, wrapper_html: { class: 'hide d-none' },  as: :select, collection: [['0','Massy'], ['2', 'Verrières chez CVB, jeudi à 11h'], ['2', 'Antony chez DAY BY DAY, vendredi 11 ']], label_method: :second, value_method: :second %>


      
      

      <%= f.submit:"COMMANDER", class: 'btn btn-success float-right my-3'%>   
      <% end %>
    </div>

    <div class='col-12 col-md-4'> 
      <div class='cart border'>
        <h3 class="text-center my-2">Ma commande</h3>
        
        <div class='d-flex justify-content-between mx-2'>
          <p>Healing Bento Box</p>
          <div class="quantities"></div>
        </div>
        <div class='d-flex justify-content-between mx-2'>
          <p>Prix TTC</p>         
          <div class="price"></div>
        </div>
        <div class='d-flex justify-content-between mx-2'>
          <p>Jour de la livraison</p>         
          <div class="day"></div>
        </div>
        <div class='d-flex justify-content-between mx-2'>
          <p>Lieu de la livraison</p>         
          <div class="delivery_place"></div>
        </div>

      </div>

   <!--  <figure class="figure">


        <figcaption class="figure-caption text-right">Bento Love Origin Kitchen</figcaption>
      </figure>-->
    </div> 
  </div>
   

