<div class="bd-example">
  <%@home.each do |home| %>
  <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
      <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <%= cl_image_tag home.photo1_home_page, class:"card-img-top"%>
        <div class="carousel-caption d-none d-md-block">
          <h3>First slide lab3l</h4>
          <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
        </div>
      </div>
      <div class="carousel-item">
         <%= cl_image_tag home.photo2_home_page, class:"card-img-top"%>
        <div class="carousel-caption d-none d-md-block">
          <h3>Second slide lab3l</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
      </div>
      <div class="carousel-item">
         <%= cl_image_tag home.photo3_home_page, class:"card-img-top"%>
        <div class="carousel-caption d-none d-md-block">
          <h3>Third slide lab3l</h4>
          <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
  <%end%>
</div>

<h1 class="mt-3">MES BENTOS</h1>
<div class="card-deck">
<%@bento.each do |bento|%>
    
  <div class="card mt-2 mb-4">
    <%= cl_image_tag bento.photo, class:"card-img-top"%>
    <div class="card-body">
      <h5 class="card-title"><%=bento.title%></h5>
      <p class="card-text"><%=bento.description%></p>
    </div>
    <div class="card-footer">
      <small class="text-muted text-right"><%=bento.date%></small>
    </div>
  </div>  
<%end%>
</div>


